<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="dei.estg.ipleiria.pt.ergodigital" >

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <uses-feature
        android:name="android.hardware.touchscreen"
        android:required="false" />
    <uses-feature
        android:name="android.software.leanback"
        android:required="true" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme" >
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ListaPessoasActivity"
            android:label="@string/title_activity_lista_pessoas"
            android:parentActivityName=".MainActivity"
            android:theme="@style/AppTheme.NoActionBar" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="dei.estg.ipleiria.pt.ergodigital.MainActivity" />
        </activity>
        <activity
            android:name=".AvaliacaoPosturalActivity"
            android:label="@string/title_activity_avaliacao_postural"
            android:parentActivityName=".MainActivity"
            android:theme="@style/AppTheme.NoActionBar" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="dei.estg.ipleiria.pt.ergodigital.MainActivity" />
        </activity>
        <activity
            android:name=".SistemaRulaActivity"
            android:label="@string/title_activity_sistema_rula"
            android:parentActivityName=".AvaliacaoPosturalActivity"
            android:theme="@style/AppTheme.NoActionBar" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="dei.estg.ipleiria.pt.ergodigital.AvaliacaoPosturalActivity" />
        </activity>
        <activity
            android:name=".SistemaOwasActivity"
            android:label="@string/title_activity_sistema_owas"
            android:parentActivityName=".AvaliacaoPosturalActivity"
            android:theme="@style/AppTheme.NoActionBar" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="dei.estg.ipleiria.pt.ergodigital.AvaliacaoPosturalActivity" />
        </activity>
        <activity
            android:name=".Pop"
            android:theme="@style/AppTheme.CustomTheme" >
        </activity>
        <activity
            android:name=".SistemaRebaActivity"
            android:label="@string/title_activity_sistema_reba"
            android:parentActivityName=".AvaliacaoPosturalActivity"
            android:theme="@style/AppTheme.NoActionBar" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="dei.estg.ipleiria.pt.ergodigital.AvaliacaoPosturalActivity" />
        </activity>
        <activity
            android:name=".SistemaRebaActivity2"
            android:label="@string/title_activity_sistema_reba2"
            android:parentActivityName=".SistemaRebaActivity"
            android:theme="@style/AppTheme.NoActionBar" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="dei.estg.ipleiria.pt.ergodigital.SistemaRebaActivity" />
        </activity>
        <activity
            android:name=".SistemaRulaActivity2"
            android:label="@string/title_activity_sistema_rula2"
            android:parentActivityName=".SistemaRulaActivity"
            android:theme="@style/AppTheme.NoActionBar" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="dei.estg.ipleiria.pt.ergodigital.SistemaRulaActivity" />
        </activity>
        <activity
            android:name=".SistemaRulaActivity3"
            android:label="@string/title_activity_sistema_rula3"
            android:parentActivityName=".SistemaRulaActivity2"
            android:theme="@style/AppTheme.NoActionBar" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="dei.estg.ipleiria.pt.ergodigital.SistemaRulaActivity2" />
        </activity>
        <activity
            android:name=".RulaActivityResultado"
            android:label="@string/title_activity_rula_activity_result"
            android:parentActivityName=".SistemaRulaActivity3"
            android:theme="@style/AppTheme.NoActionBar" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="dei.estg.ipleiria.pt.ergodigital.SistemaRulaActivity3" />
        </activity>
        <activity
            android:name=".MovimentacaoDeCargasActivity"
            android:label="@string/title_activity_movimentacao_de_cargas"
            android:parentActivityName=".MainActivity"
            android:theme="@style/AppTheme.NoActionBar" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="dei.estg.ipleiria.pt.ergodigital.MainActivity" />
        </activity>
        <activity
            android:name=".SistemaKimLevantarActivity"
            android:label="@string/title_activity_sistema_kim"
            android:parentActivityName=".SistemaKimMainActivity"
            android:theme="@style/AppTheme.NoActionBar" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".SistemaKimMainActivity" />
        </activity>
        <activity
            android:name=".SistemaMacElevacaoActivity"
            android:label="@string/title_activity_sistema_mac"
            android:parentActivityName=".MovimentacaoDeCargasActivity"
            android:theme="@style/AppTheme.NoActionBar" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="dei.estg.ipleiria.pt.ergodigital.MovimentacaoDeCargasActivity" />
        </activity>
        <activity
            android:name=".SistemaKimMainActivity"
            android:label="@string/title_activity_sistema_kim_escolha"
            android:parentActivityName=".MovimentacaoDeCargasActivity"
            android:theme="@style/AppTheme.NoActionBar" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="dei.estg.ipleiria.pt.ergodigital.MovimentacaoDeCargasActivity" />
        </activity>
        <activity
            android:name=".SistemaMacMainActivity"
            android:label="@string/title_activity_sistema_mac_main"
            android:theme="@style/AppTheme.NoActionBar" >
        </activity>
        <activity
            android:name=".SistemaKimEmpurrarActivity"
            android:label="@string/title_activity_sistema_kim_empurrar"
            android:parentActivityName=".SistemaKimMainActivity"
            android:theme="@style/AppTheme.NoActionBar" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="dei.estg.ipleiria.pt.ergodigital.SistemaKimMainActivity" />
        </activity>
        <activity
            android:name=".SistemaMacTransporteActivity"
            android:label="@string/title_activity_sistema_mac_transporte"
            android:parentActivityName=".SistemaMacMainActivity"
            android:theme="@style/AppTheme.NoActionBar" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="dei.estg.ipleiria.pt.ergodigital.SistemaMacMainActivity" />
        </activity>
        <activity
            android:name=".SistemaMacEquipaActivity"
            android:label="@string/title_activity_sistema_mac_equipa"
            android:parentActivityName=".SistemaMacMainActivity"
            android:theme="@style/AppTheme.NoActionBar" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="dei.estg.ipleiria.pt.ergodigital.SistemaMacMainActivity" />
        </activity>
        <activity
            android:name=".SistemaMacElevacao2Activity"
            android:label="@string/title_activity_sistema_mac_elevacao2"
            android:parentActivityName=".SistemaMacElevacaoActivity"
            android:theme="@style/AppTheme.NoActionBar" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="dei.estg.ipleiria.pt.ergodigital.SistemaMacElevacaoActivity" />
        </activity>
        <activity
            android:name=".SistemaMacElevacao3Activity"
            android:label="@string/title_activity_sistema_mac_elevancao3"
            android:parentActivityName=".SistemaMacElevacao2Activity"
            android:theme="@style/AppTheme.NoActionBar" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="dei.estg.ipleiria.pt.ergodigital.SistemaMacElevacao2Activity" />
        </activity>
        <activity
            android:name=".SistemaMacTransporte3Activity"
            android:label="@string/title_activity_sistema_mac_transporte3"
            android:parentActivityName=".SistemaMacTransporte2Activity"
            android:theme="@style/AppTheme.NoActionBar" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="dei.estg.ipleiria.pt.ergodigital.SistemaMacTransporte2Activity" />
        </activity>
        <activity
            android:name=".SistemaMacEquipa2Activity"
            android:label="@string/title_activity_sistema_mac_equipa2"
            android:parentActivityName=".SistemaMacEquipaActivity"
            android:theme="@style/AppTheme.NoActionBar" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="dei.estg.ipleiria.pt.ergodigital.SistemaMacEquipaActivity" />
        </activity>
        <activity
            android:name=".SistemaMacEquipa3Activity"
            android:label="@string/title_activity_sistema_mac_equipa3"
            android:parentActivityName=".SistemaMacEquipa2Activity"
            android:theme="@style/AppTheme.NoActionBar" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="dei.estg.ipleiria.pt.ergodigital.SistemaMacEquipa2Activity" />
        </activity>
        <activity
            android:name=".SistemaMacTransporte2Activity"
            android:label="@string/title_activity_sistema_mac_transporte2"
            android:parentActivityName=".SistemaMacTransporteActivity"
            android:theme="@style/AppTheme.NoActionBar" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="dei.estg.ipleiria.pt.ergodigital.SistemaMacTransporteActivity" />
        </activity>
        <activity
            android:name=".SistemaMacElevacaoResultActivity"
            android:label="@string/title_activity_sistema_mac_elevacao_result"
            android:parentActivityName=".SistemaMacElevacao3Activity"
            android:theme="@style/AppTheme.NoActionBar" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="dei.estg.ipleiria.pt.ergodigital.SistemaMacElevacao3Activity" />
        </activity>
        <activity
            android:name=".UserSettingsActivity"
            android:label="@string/title_activity_user_settings"
            android:parentActivityName=".MainActivity"
            android:theme="@style/AppTheme.NoActionBar" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="dei.estg.ipleiria.pt.ergodigital.MainActivity" />
        </activity>
        <activity
            android:name=".EscolhaAvaliacoesActivity"
            android:label="@string/title_activity_escolha_avaliacoes"
            android:parentActivityName=".MainActivity"
            android:theme="@style/AppTheme.NoActionBar" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="dei.estg.ipleiria.pt.ergodigital.MainActivity" />
        </activity>
        <activity
            android:name=".DadosUtenteActivity"
            android:label="@string/title_activity_dados_utente"
            android:parentActivityName=".MainActivity"
            android:theme="@style/AppTheme.NoActionBar" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="dei.estg.ipleiria.pt.ergodigital.MainActivity" />
        </activity>
        <activity
            android:name=".DadosConsultaActivity"
            android:label="@string/title_activity_dados_consulta"
            android:parentActivityName=".DadosUtenteActivity"
            android:theme="@style/AppTheme.NoActionBar" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="dei.estg.ipleiria.pt.ergodigital.DadosUtenteActivity" />
        </activity>
    </application>

</manifest>
